/* =========================== */
/* =                         = */
/* =          본문          = */
/* =                         = */
/* =========================== */
.section {
  width: 100%;
  height: auto;
  min-height: 85vh;
  /* min-height: 55rem; */
  /* background: #1565c0; */
  /* border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
  /* padding-bottom: 150px; */
}

.section .banner_container {
  display: grid;
  width: 100%;
  max-width: 75rem;
  padding: 0 1.25rem;
  grid-template-columns: 100%;
  /* row-gap: 4.6875rem; */
  row-gap: 4rem;
  margin: 0 auto;
}

.section .banner_container .banner_info {
  width: 100%;
  /* padding-top: 5.625rem; */
  padding-top: 4rem;
  margin-bottom: 1.875rem;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.5;
}

.section .banner_container .banner_info .banner_title_container {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  align-items: center;
}

.section
  .banner_container
  .banner_info
  .banner_title_container
  .banner_text_container {
  margin-left: 2rem;
}

.section .banner_container .banner_info .banner_title_container .title {
  font-size: 2rem;
  color: #0d47a1;
}
.section .banner_container .banner_info .banner_title_container .subtitle {
  margin-top: 0.1rem;
  font-size: 1rem;
  color: #90caf9;
}
.section .banner_container .banner_info .board_button_container {
  display: flex;
  justify-content: right;
}
.section .banner_container .banner_info .write_button {
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
  border-style: none;
  background-color: #e3f2fd;
  height: 2rem;
  line-height: 1.5rem;
  border-radius: 2rem;
  padding: 0 0.5rem;
  color: #1e88e5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.section .banner_container .banner_info .write_button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0d47a1;
}

.section .banner_container .banner_info .board_list_container {
  /* background-color: #aaa; */
  width: 100%;
  max-height: 40vh;
  overflow: hidden;
  /* 12개 */
}

.section .banner_container .banner_info .board_list_container .board_list {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.section .banner_container .banner_info .board_list_container .board_list th {
  text-align: center;
  height: 2rem;
  border-bottom: 1px solid #e2e2e2;
  padding: 1rem 0;
  font-size: 1.1rem;
  color: #0d47a1;
  background-color: #e3f2fd;
}
.section .banner_container .banner_info .board_list_container .board_list td {
  text-align: center;
  /* padding-left: 0.5rem; */
  font-size: 1rem;
  padding: 0.2rem 0.2rem;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
}
.section
  .banner_container
  .banner_info
  .board_list_container
  .board_list
  tr:hover {
  background-color: #e3f2fd;
}

.section .banner_container .banner_info .page_button_container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 30%;
  font-size: 0.9rem;
  text-align: center;
  margin: 0 auto;
}

.section
  .banner_container
  .banner_info
  .page_button_container
  .page_button_content {
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  border-bottom: 1px solid #90caf9;
  line-height: 2rem;
  box-shadow: 0 1px 0px 0 rgba(34, 36, 38, 0.15);
}
.section
  .banner_container
  .banner_info
  .page_button_container
  .page_button_content:hover {
  cursor: pointer;
  box-shadow: 0 0 0 0;
  background-color: #90caf9;
}
